body {
    background-color: $bg-color;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.container {
    max-width: $desktop-max-width;
    width: 100%;
}
#app {
    position: relative;
}
#popup-backdrop {
    background-color: transparent;
    visibility: hidden;
    transition: all 0.3s ease-out;
    &.opened {
        background-color: rgba(30,30,30,0.6);
        visibility: visible;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}