#crew {
    color: white;
    position: relative;
    bottom: 140px;
    #clipped-top {
        background-color: black;
        height: 140px;
        width: 100%;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }
    h1, h3 {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .divider {
        width: 40%;
        margin: 0 auto;
        height: 1px;
        background-color: white;
        margin-bottom: 4em;
    }
    #filters {
        margin-bottom: 2em;
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                cursor: pointer;
                &.active {
                    text-decoration: underline;
                }
                &:not(:last-child) {
                    margin-right: 2em;
                }
            }
        }
    }
    #crew-list {
        display: flex;
        flex-wrap: wrap;
        &.loading {
            opacity: 0.6;
        }
        .crew-tile {
            width: 25%;
            cursor: pointer;
            transition: all 0.4s ease-out;
            display: flex;
            background-color: $bg-color;
            color: black;
            min-height: 200px;
            &:hover {
                .member-profile-image {
                    background-blend-mode: difference;
                }
            }
            .member-profile-image {
                background-blend-mode: saturation;
                width: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                transition: all 0.4s ease-out;
            }
            .member-data {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 50%;
                padding: 0 0 15px 15px;
                .member-name {
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-bottom: 10px;
                    font-size: 18px;
                }
            }
        }
    }
}
@media screen and (max-width: $breakpoint-small) {
    #crew {
        #filters ul {
            flex-direction: column;
            align-items: flex-start;
            li:not(:last-child) {
                margin-right: 0;
                margin-bottom: 1em;
            }
        }
    }
}