#footer {
    font-size: 13px;
    margin-top: -7em;
    padding-bottom: 3em;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        li {
            a {
                color: black;
            }
            &.active {
                text-decoration: underline;
            }
            &:not(:last-child) {
                margin-right: 2em;
            }
        }
    }
    @media screen and (max-width: $breakpoint-small) {
        #copyright {
            align-items: center;
            justify-content: center;
            display: flex;
            text-align: center;
            margin-bottom: 2em;
        }
        ul {
            margin-top: 2em;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            li:not(:last-child) {
                margin: 0 0 1em 0;
            }
        }
    }
}