$news-headline-height: 380px;

#headline {
    position: relative;
    bottom: 140px;
    #headlines {
        clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
        background-color: black;
    }
    .tile {
        a {
            color: black;
            display: block;
            &:hover {
                text-decoration: none;
            }
        }
        &:hover {
            text-decoration: none;
        }
        &.news-headline-container {
            padding: 14em 15px 15px 15px;
            height: $news-headline-height;
            .date {
                display: flex;
                align-items: baseline;
            }
            .news-headline {
                color: $main-color;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
        &.calendar-map {
            display: block;
            color: black;
            &:hover {
                text-decoration: none;
            }
            &#image-map-2 {
                padding: 4em 15px 15px 15px;
            }
            &#image-map-1 {
                padding: 8em 15px 15px 15px;
            }
            .date, .date-title, .date-subtitle {
                text-transform: uppercase;
                font-weight: bold;
            }
            .date {
                font-size: 50px;
                margin-bottom: 10px;
                line-height: 1em;
            }
            .date-title {
                color: $main-color;
                font-size: 30px;
            }
            .date-subtitle {
                font-size: 20px;
            }
        }
        &#image-boat {
            background-image: url('/images/boat.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 560px;
        }
        &#image-map-1 {
            background-image: url('/images/map-croatia-1.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: $news-headline-height;
            clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
        }
        &#image-map-2 {
            background-image: url('/images/map-croatia-2.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 280px;
        }
        &#image-flag {
            background-image: url('/images/croatia.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 280px;
        }
        &#image-boat-small {
            background-image: url('/images/on-the-boat.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 280px;
        }
        &.tile-black {
            min-height: 280px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: black;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            font-size: 30px;
            line-height: 1em;
            img {
                margin-bottom: 15px;
            }
            &#news-bilder {
                cursor: pointer;
                position: relative;
                overflow: hidden;
                &:hover:before {
                    transform: scale(1.2);
                }
                &:before {
                    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
                    filter: saturate(45%);
                    content: ' ';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.4;
                    background-image: url('/images/boats.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    transition: all 0.2s ease-out;
                }
            }
        }
        &#image-flag,
        &#image-boat-small,
        &#image-boat {
            cursor: pointer;
            transition: all 0.3s ease-out;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    #news-overlay-body {
        margin-left: 4em;
        display: flex;
        visibility: hidden;
        transition: all 0.5s ease-out;
        top: -9999px;
        position: absolute;
        #mobile-close {
            display: none;
            cursor: pointer;
        }
        &.opened {
            visibility: visible;
            top: 0;
            left: 0;
            right: 0;
            z-index: 3;
        }
        .overlay-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 85px;
            height: 85px;
            cursor: pointer;
        }
        h4, h4 {
            text-transform: uppercase;
            font-weight: bold;
        }
        .divider {
            width: 100%;
            margin-bottom: 4em;
            height: 1px;
            background-color: grey;
        }
        #news-images-gallery {
            position: relative;
            margin-bottom: 2em;
            .gallery-image {
                width: 100%;
            }
            .gallery-navigation {
                position: absolute;
                z-index: 5;
                background-color: rgba(30,30,30,0.6);
                top: 45%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &.left {
                    left: 0;
                }
                &.right {
                    right: 0;
                }
            }
            #gallery-counter {
                text-align: right;
                display: block;
            }
        }
        #other-articles-subtitle {
            color: $main-color;
            text-transform: uppercase;
            font-weight: bold;
            margin: 2em 0;
        }
        #other-articles {
            position: relative;
            .article-navigation {
                position: absolute;
                top: 45%;
                cursor: pointer;
                &.left {
                    left: -30px;
                }
                &.right {
                    right: -30px;
                }
            }
            .article {
                cursor: pointer;
                &:hover .article-headline {
                    text-decoration: underline;
                }
                img {
                    width: 100%;
                    max-height: 140px;
                    margin-bottom: 2em;
                }
                .article-headline {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 18px;
                    margin-bottom: 2em;
                }
            }
        }
    }
}
@media screen and (max-width: $breakpoint-small) {
    #headline {
        #headlines {
            clip-path: none;
            .tile {
                &.news-headline-container {
                    height: auto;
                    padding: 15px;
                }
                
            }
        }
        .tile {
            &#image-map-1 {
                clip-path: none;
                height: auto;
            }
            &.calendar-map#image-map-1 {
                padding: 4em 15px 15px 15px;
            }
            &#image-boat {
                height: 320px;
            }
        }
        #news-overlay-body {
            margin-left: 0;
            flex-direction: column;
            #mobile-close {
                display: block;
                position: absolute;
                top: 1em;
                right: 1em;
            }
            #other-articles .article {
                margin-bottom: 4em;
                padding-bottom: 2em;
                border-bottom: 1px solid grey;
                img {
                    width: auto;
                    max-height: 220px;
                }
            }
            #overlay-icons {
                display: flex;
                flex-direction: row;
            }
        }
    }
}