#header {
    height: $header-height;
    background: linear-gradient(
        270deg,
        $main-color 25%,
        $bg-color 0
    );
    display: flex;
    align-items: center;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        #header-menu ul {
            list-style: none;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0;
            li {
                a {
                    color: black;
                }
                &:not(:last-child) {
                    margin-right: 2em;
                }
            }
        }
        #header-logo {
            background-color: $main-color;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 2em;
            img {
                width: 100%;
            }
        }
    }
}
#mobile-menu-button {
    display: none;
}
@media screen and (max-width: $breakpoint-small) {
    #mobile-menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: $bg-color;
        width: 50px;
        height: 50px;
        z-index: 3;
        position: relative;
    }
    #app #header #header-menu ul {
        position: absolute;
        flex-direction: column;
        background-color: $bg-color;
        padding: 2em;
        top: $header-height;
        transition: all 0.3s ease-out;
        left: -100%;
        &.opened {
            left: 0;
            z-index: 3;
        }
        li:not(:last-child) {
            margin-right: 0;
            margin-bottom: 2em;
        }
    }
}