#headline {
    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        // .w-25 {
        //     width: 25%;
        // }
        // .w-50 {
        //     width: 50%;
        // }
    }
}